In [1]:
import pandas as pd
df = pd.read_csv('./datasets/game_sales.csv')

In [2]:
df.head()

,name,platform,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales,critic_score,critic_count,user_score,user_count,rating,date
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.54,76.0,51.0,8.0,324.0,E,2006-10-09
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,1985-01-20
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.80,3.79,3.29,35.57,82.0,73.0,8.3,712.0,E,2008-11-16
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.95,3.28,2.95,32.78,80.0,73.0,8.0,193.0,E,2009-11-25
4,Pokemon Red/Pokemon Blue,G,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,1996-08-17

In [3]:
df["sales"] = df["global_sales"] * 1e06 # Convert to million.
df = df.astype({"sales": int})

df.head()

,name,platform,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales,critic_score,critic_count,user_score,user_count,rating,date,sales
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.54,76.0,51.0,8.0,324.0,E,2006-10-09,82540000
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,1985-01-20,40240000
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.80,3.79,3.29,35.57,82.0,73.0,8.3,712.0,E,2008-11-16,35570000
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.95,3.28,2.95,32.78,80.0,73.0,8.0,193.0,E,2009-11-25,32780000
4,Pokemon Red/Pokemon Blue,G,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,1996-08-17,31370000

In [4]:
from datetime import date
year = date.today().year

years_passed = year - df["year"]
df["sales_avg_per_year"] = df["sales"] / years_passed

df.sort_values("sales_avg_per_year", ascending=False).head()

,name,platform,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales,critic_score,critic_count,user_score,user_count,rating,date,sales,sales_avg_per_year
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.54,76.0,51.0,8.0,324.0,E,2006-10-09,82540000,5.158750e+06
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.80,3.79,3.29,35.57,82.0,73.0,8.3,712.0,E,2008-11-16,35570000,2.540714e+06
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.95,3.28,2.95,32.78,80.0,73.0,8.0,193.0,E,2009-11-25,32780000,2.521538e+06
16,Grand Theft Auto V,PS3,2013.0,Action,Take-Two Interactive,7.02,9.14,0.98,3.97,21.12,97.0,50.0,8.2,4009.0,M,2013-07-15,21120000,2.346667e+06
8,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.48,6.95,4.70,2.25,28.38,87.0,80.0,8.4,595.0,E,2009-07-16,28380000,2.183077e+06

In [5]:
# Fix type of date column
df['date'] = pd.to_datetime(df['date'])

# access components of the date and add as new columns
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day

df[['date', 'month']].head()

        date  month
0 2006-10-09     10
1 1985-01-20      1
2 2008-11-16     11
3 2009-11-25     11
4 1996-08-17      8