In [1]:
import pandas as pd
df = pd.read_csv('./datasets/game_sales.csv')

In [2]:
df.head()

,name,platform,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales,critic_score,critic_count,user_score,user_count,rating,date
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.54,76.0,51.0,8.0,324.0,E,2006-10-09
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,1985-01-20
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.80,3.79,3.29,35.57,82.0,73.0,8.3,712.0,E,2008-11-16
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.95,3.28,2.95,32.78,80.0,73.0,8.0,193.0,E,2009-11-25
4,Pokemon Red/Pokemon Blue,G,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,1996-08-17

In [10]:
# Mean sales for each genre.
df.groupby('genre')['global_sales'].mean()

genre
Action          0.503397
Adventure       0.163430
Fighting        0.519873
Misc            0.446347
Platform        0.924156
Puzzle          0.396358
Racing          0.571155
Role-Playing    0.614440
Shooter         0.791751
Simulation      0.425087
Sports          0.557121
Strategy        0.239401
Name: global_sales, dtype: float64

In [17]:
# Mean sales for each platform.
df.groupby('platform')['global_sales'].mean().sort_values(ascending=False)

platform
G       2.606633
NES     2.561939
GEN     1.050370
SNES    0.837029
PS4     0.803750
X360    0.752066
2600    0.729925
PS3     0.692577
N64     0.686144
Wii     0.670700
XOne    0.658409
PS      0.608925
PS2     0.569397
WiiU    0.555098
3DS     0.489946
GBA     0.377630
DS      0.359635
GC      0.354227
SCD     0.311667
X       0.310144
DC      0.307115
PC      0.234885
PSP     0.227089
WS      0.204286
SAT     0.194162
NG      0.120000
PSV     0.113586
TG16    0.080000
GG      0.040000
3DO     0.033333
PCFX    0.030000
Name: global_sales, dtype: float64

In [20]:
df.groupby('genre')['global_sales'].agg([min, max, sum]).sort_values(by="sum", ascending=False)

               min    max      sum
genre
Action        0.01  21.12  1761.89
Sports        0.01  82.54  1340.99
Shooter       0.01  28.31  1067.28
Role-Playing  0.01  31.37   949.31
Platform      0.01  40.24   831.74
Misc          0.01  28.92   808.78
Racing        0.01  35.57   731.65
Fighting      0.01  12.87   449.17
Simulation    0.01  24.67   392.78
Puzzle        0.01  30.26   243.76
Adventure     0.01  11.18   241.55
Strategy      0.01   5.45   175.72

In [50]:
groupby = ['genre', 'platform']
pick = ['global_sales', 'eu_sales']
agg = [min, max, sum]
sort_by = ['genre', ('global_sales', 'sum')]
sort_asc = [True, False]

df.groupby(groupby)[pick].agg(agg).sort_values(by=sort_by, ascending=sort_asc)

                  global_sales                eu_sales
                           min    max     sum      min   max     sum
genre    platform
Action   PS3              0.01  21.12  302.82      0.0  9.14  106.45
         PS2              0.01  20.81  272.79      0.0  5.49   71.44
         X360             0.01  16.30  240.69      0.0  5.17   74.02
         PS               0.02   6.27  127.05      0.0  2.80   45.13
         Wii              0.01   7.16  114.45      0.0  2.14   31.67
...                        ...    ...     ...      ...   ...     ...
Strategy XOne             0.01   0.22    0.48      0.0  0.05    0.11
         PSV              0.01   0.11    0.39      0.0  0.03    0.05
         WS               0.01   0.17    0.21      0.0  0.00    0.00
         GEN              0.19   0.19    0.19      0.0  0.00    0.00
         SCD              0.14   0.14    0.14      0.0  0.00    0.00

[293 rows x 6 columns]